@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
    background: linear-gradient(to right top, #0e37cb, #162eb5, #19269f, #191e8a, #171776);
    background-image: url(../images/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    font-size: 3em;
}

.login_btn {
    color: black;
    background: black; 
    color: #FFC312;
    font-size: 2em;
}

.login_btn:hover {
    color: black;
    background: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}